        /*****Seccion antes del NavBar*****/
        .last-header-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            background-color: #f0f0f0;
            font-size: 13px;
        }
        .contact-info {
            display: flex;
            align-items: center;
            margin-left: 100px;
        }
        .contact-info p {
            margin-right: 50px;
        }
        .redes-sociales {
            display: flex;
            align-items: center;
        }
        .redes-sociales a {
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }


        /*****Header con nav*****/
        header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            background: linear-gradient(
                to bottom,
                #1b1926,
                #1e2b46
            );
            color:#fff;

        }
        header nav a{
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 5px 10px;
            transition: .5s;
            border-radius: 10px;
        }
        header nav a:hover{
            background-color: #e60122;
        }
        header .menu a{
            text-decoration: none;
            color: #fff;
            font-size: 30px;
        }
        header .menu a:hover{
            color: #e60122;
        }
        

        /*****Carrousel*****/
        .carousel{
            padding: 20px;
        }
        .carousel__contenedor {
            position: relative;
        }
        
        .carousel__lista {
            overflow: hidden;
        }
        .carousel__elemento {
            text-align: center;
            display: flex;
        }
        .texto {
            flex: 1; /* El texto ocupará todo el espacio disponible */
            display: flex;
            flex-direction: column; /* Alinea verticalmente los párrafos */
            justify-content: center;
            padding: 50px;
        }
        .texto p {
            margin: 0; /* Elimina el margen predeterminado de los párrafos */
            font-size: 50px;
            text-align: left; /* Alinea el texto a la izquierda */
        }
        .carousel__elemento p:nth-child(1) {
            font-family: Arial, sans-serif; /* Tipo de fuente para el primer párrafo */
            font-size: 60px; /* Tamaño de fuente para el primer párrafo */
            color: #28a745;
        }
        .carousel__elemento p:nth-child(2) {
            font-family: 'Times New Roman', serif; /* Tipo de fuente para el segundo párrafo */
            font-size: 30px; /* Tamaño de fuente para el segundo párrafo */
        }
        .carousel__elemento p:nth-child(3) {
            font-family: 'Courier New', monospace; /* Tipo de fuente para el tercer párrafo */
            font-size: 25px; /* Tamaño de fuente para el tercer párrafo */
        }
        .imagen {
            margin-left: 20px; /* Margen entre el texto y la imagen */
            width: 30%;
        }
        .carousel__indicadores .glider-dot {
            display: block;
            width: 30px;
            height: 10px;
            background: #0f296e;
            opacity: .2;
            border-radius: 0;
        }
        .carousel__indicadores .glider-dot:hover {
            opacity: .5;
        }
        .carousel__indicadores .glider-dot.active {
            opacity: 1;
        }

        /*****Categorias imagenes*****/
        .imagenes-categorias {
            display: flex;
            justify-content: space-around; /* Esto alineará los elementos con espacios iguales entre ellos */
        }
        .btn-success {
            background-color: #28a745; /* Color de fondo verde */
            color: #fff; /* Color de texto blanco */
            padding: 10px 20px; /* Espaciado interno del botón */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados */
            text-decoration: none; /* Sin subrayado */
            cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
            transition: background-color 0.3s; /* Transición suave del color de fondo */
        }
        .btn-success:hover {
            background-color: #218838; /* Color de fondo verde oscuro al pasar el cursor */
        }
        .imagen-redonda {
            border-radius: 50%; /* Esto hará que los bordes sean redondeados y parezcan ovalados */
            width: 300px; /* Ajusta el tamaño según tus necesidades */
            height: auto; /* Mantiene la proporción de aspecto */
        }
        .nuestras-categorias{
            color: black;
        }
        .parrafo-categorias{
            color: black;
            font-size: 35px;
        }
        .licores-cigarros-snacks{
            color: black;
            font-size: 35px;
        }
  
        
        /*****ASIDE*****/
        .contenedor-aside {
            display: flex;
        }
        .texto-calificacion{
            text-align: center;
        }
        .cuadro {
            flex: 1;
            margin-right: 20px;
            border: 1px solid #ccc; /* Agrega un borde de color gris claro */
            padding: 50px; /* Agrega espacio interno al contenedor */ 
            box-sizing: border-box;
            background-color: #fff;
            border-radius: 10px;
        }
        .cuadro img {
            width: 100%;
            height: auto;
        }
        .calificacion {
            color: gold;
            font-size: 50px;
        }
        .nombre-calificacion {
            font-weight: bold;
            margin-top: 10px;
            font-size: 40px;
        }
        .descripcion-calificacion {
            margin-top: 5px;
            font-size: 20px;
        }        


        /*****BODY*****/
        body {
            background-size: cover;
            font-family: 'Poppins', sans-serif;
            margin: 0 auto;
            padding: 0;
        }
        body h1{
            text-align: center;
            font-size: 80px;
            margin: 1px;
        }
        body h2{
            text-align: center;
            font-size: 40px;
            margin: 1px;
        }
        
        
        /*****SECTION*****/
        section {
            background-color: #E0E0E0;
            background-size: cover;
            width: 99%;
            height: 10%;
            padding: 10px;
        }


        /*****ARTICLE*****/
        article{
            flex: 1;
            color: #ffffff;
            text-align: center;
        }


        /*****ASIDE*****/
        aside{
            background-color: #E0E0E0;
        }


        /*****FOOTER*****/
        footer {
            padding: 25px;
            text-align: center;
            background-color: #1e2b46;
            background-size: cover;
            color: #fff;
        }

        